<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
  </head>
  <body style="background-color: #add8e6;">

    
    <%- include('nav'); -%>
    <!-- <style>
      @media screen and (max-width: 500px) {
        .headingwish{
          margin-top: 100px !important;
        }
        .logoimgwish{
          width: 70px !important;
          top: 25% !important;
          left: 7% !important;
        }
      }
    </style> -->
    <!-- Testimonial 4 - Bootstrap Brain Component -->
    <section class="py-3 py-md-5 py-xl-8" style="background-color: #add8e6;">
      <!-- <img src="/images/WhatsApp Image 2024-02-29 at 22.25.13_21a79271.jpg" class="card-img-top logoimgwish" style="width: 100px; position: absolute; top: 11%; left: 90%;" alt="..."> -->
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-10 col-lg-8">
            <h3 class="fs-5 mb-2 mt-5 text-dark fw-semibold text-uppercase">
              Review..
            </h3>
            <h2 class="display-6 mb-4 fw-bold">
              See What Our Reader Say About Us.
            </h2>
          </div>
        </div>
      </div>

      <div class="container overflow-hidden">
        <div class="row gy-3 gy-lg-4">
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body p-4 p-xxl-5">
                <div
                  class="bsb-ratings text-warning mb-3"
                  data-bsb-star="5"
                  data-bsb-star-off="0"
                ></div>
                <blockquote class="bsb-blockquote-icon mb-3 fw-semibold">
                  The booklet came to me with a special packet. The cover page
                  illustration is beautiful and contextual. Congratulations to
                  the author Dinesh Sahay for writing a amazing booklet , as a
                  mentor which will not only keep you hooked till the last page,
                  but also force you towards write a life's notebook. “This book
                  is written with a purpose, to help readers to master the Art
                  of Creation by a wishful exercise, by writing a book and
                  dreaming about their forthcoming future in life. ”
                </blockquote>
                <blockquote class="bsb-blockquote-icon mb-3 fw-semibold">
                  In this booklet, the author has presented some common truth
                  sense so that the readers can also write down some of their
                  life experiences in the form of a notebook. Actually the
                  author has provided a proper format that enables you to write
                  your notebook with instructions.
                </blockquote>
                <blockquote class="bsb-blockquote-icon mb-3 fw-semibold">
                  If you want to make a notebook of your future life, buy and
                  read this booklet . After reading get ready to write…. Whether
                  you are a interested to write your forthcoming life or not ,
                  You must read this booklet. I am sure you will like this
                  booklet Overall, I liked the booklet .The title is quite
                  appropriate. The writing style of the booklet is interesting.
                  It's my best read so far, I absolutely loved every page of it.
                  Of course I would recommend this book to all readers.
                  Outstanding Read.....❤️
                </blockquote>
                <blockquote class="bsb-blockquote-icon mb-3 fw-semibold">
                  🌸 Overall If you want to write your forthcoming life's
                  notebook , then this booklet is for you..... My Ratings-
                  <br />

                  Overall - 4.5/5(⭐) <br />
                  Title - 5/5(⭐) <br />
                  Cover - 5/5(⭐) <br />
                  Language - 4.5/5(⭐)
                </blockquote>
                <figure class="d-flex align-items-center m-0 p-0">
                  <img class="img-fluid rounded rounded-circle m-0 border border-5 " loading="lazy" src="/images/log.jpg" style="width: 60px; height: 60px;" alt="Luna John">
                  <figcaption class="ms-3">
                    <h4 class="mb-1 h5">@travel_books_only (Instagram)</h4>
                    <!-- <h5 class="fs-6 text-secondary mb-0">UX Designer</h5> -->
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body p-4 p-xxl-5">
                <div
                  class="bsb-ratings text-warning mb-3"
                  data-bsb-star="5"
                  data-bsb-star-off="0"
                ></div>
                <blockquote class="bsb-blockquote-icon mb-3 fw-semibold">
                  Writing is an art that is not mastered by many. Hence it
                  becomes essential to learn the skills from the horse's mouth
                  himself. Mr. Dinesh Sahay has penned down many books so he
                  knows how to go about the business This work is sort of a
                  booklet that has been written keeping in mind the fact that
                  the readers can also create their own life story in the form
                  of a notebook. There comes a time in life when many people
                  want to compile their experiences and this can prove to be
                  helpful in such situations. The instructions in the work are
                  simple and easy to follow. And the readers who want a proper
                  format to start with their writing journey can also pick it.
                  The cover is soothing and sober. All in all a simple
                  easy-going guide
                </blockquote>
                <figure class="d-flex align-items-center m-0 p-0">
                  <img class="img-fluid rounded rounded-circle m-0 border border-5 " loading="lazy" src="/images/log.jpg" style="width: 60px; height: 60px;" alt="Luna John">
                  <figcaption class="ms-3">
                    <h4 class="mb-1 h5">@ishan14agrawal</h4>
                    <!-- <h5 class="fs-6 text-secondary mb-0">Sales Manager</h5> -->
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body p-4 p-xxl-5">
                <div
                  class="bsb-ratings text-warning mb-3"
                  data-bsb-star="4"
                  data-bsb-star-off="1"
                ></div>
                <blockquote class="bsb-blockquote-icon mb-3 fw-semibold">
                  Congrats Dinesh Sahay (Winner) <br />
                  Best wishes to you! <br />
                  -------------------------------------------------- <br />
                  Award ceremony: <br />
                  1st Jan, 2023 <br />
                  Aura Plex, New Town <br />
                  Kolkata <br />

                  Please grace the occasion with your friends & family!
                </blockquote>
                <figure class="d-flex align-items-center m-0 p-0">
                 <img class="img-fluid rounded rounded-circle m-0 border border-5 " loading="lazy" src="/images/log.jpg" style="width: 60px; height: 60px;" alt="Luna John">
                  <figcaption class="ms-3">
                    <h4 class="mb-1 h5">@litroma2020</h4>
                    <!-- <h5 class="fs-6 text-secondary mb-0">Marketing Specialist</h5> -->
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body p-4 p-xxl-5">
                <div
                  class="bsb-ratings text-warning mb-3"
                  data-bsb-star="3"
                  data-bsb-star-off="2"
                ></div>
                <blockquote class="bsb-blockquote-icon mb-3 fw-semibold">
                  We were struggling to manage our finances effectively. We
                  needed help developing a financial plan. They create a
                  financial plan that worked for us, and they showed us how to
                  track our spending more effectively. We are so grateful for
                  the help.
                </blockquote>
                <figure class="d-flex align-items-center m-0 p-0">
                  <img class="img-fluid rounded rounded-circle m-0 border border-5 " loading="lazy" src="/images/log.jpg" style="width: 60px; height: 60px;" alt="Luna John">
                  <figcaption class="ms-3">
                    <h4 class="mb-1 h5">@ishan14agrawal</h4>
                    <!-- <h5 class="fs-6 text-secondary mb-0">SEO Expert</h5> -->
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body p-4 p-xxl-5">
                <div
                  class="bsb-ratings text-warning mb-3"
                  data-bsb-star="4"
                  data-bsb-star-off="1"
                ></div>
                <blockquote class="bsb-blockquote-icon mb-3 fw-semibold">
                  The Author feels that our life is cause and effect
                  relationship. We can also say’ What we sow, so shall we reap’.
                  He says that if the youth can assess their forthcoming life
                  and remove their weakness and make their strengths stronger
                  then, their futures could be brighter. For assessing the
                  future, he has given a questioner with multiple options to
                  select from. Based on which option the reader chooses, marks
                  are allotted to him/her. Results of all the questions is
                  cumulated and then based on that, reader can assess him
                  position. Also, Author has some steps or guidelines as to how
                  can one improve oneself. Based on these guidelines, I have
                  started ‘going to bed early and getting up early’,’ Gratitude
                  to Almighty’, ’Appreciating others’. One main value addition
                  that this book has done in my life is I have started using
                  more positive words and avoiding negative words even in self
                  talk. Also, here is an exercise at the end of the book which
                  helps us to forgive others and free ourselves from the
                  negative feelings we have for these people. I really found
                  this exercise helpful. I am really proud of such Indian
                  Authors. India is blessed with such good Authors like him.
                  Look forward to read more books authored by him. All in all,
                  this book will for sure make some or other value addition to
                  your life.
                </blockquote>
                <figure class="d-flex align-items-center m-0 p-0">
                  <img class="img-fluid rounded rounded-circle m-0 border border-5 " loading="lazy" src="/images/log.jpg" style="width: 60px; height: 60px;" alt="Luna John">
                  <figcaption class="ms-3">
                    <h4 class="mb-1 h5">Nayna Bansal</h4>
                    <h5 class="fs-6 text-warning mb-0">
                      5.0 out of 5 stars One of best books in Self Help genre I
                      have read in 2021. <br />
                      Reviewed in India 🇮🇳 on 15 December 2021<br />
                      Verified Purchase<br />
                    </h5>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body p-4 p-xxl-5">
                <div
                  class="bsb-ratings text-warning mb-3"
                  data-bsb-star="3"
                  data-bsb-star-off="2"
                ></div>
                <blockquote class="bsb-blockquote-icon mb-3 fw-semibold">
                  The Power of Q- A creation compiled by Mr. Dinesh Sahay.
                  Author has expressed his perspective for different aspects of
                  life. It was a powerpack experience to go through this
                  creation. To learn something new, to overcome the obstacles.
                  Life is meant to be follow your path to learn from each part,
                  with doing good deeds because ur deeds will feature your
                  upcoming destiny. I highly recommend POWER OF Q to go through
                  it to explore bout your life.
                </blockquote>
                <figure class="d-flex align-items-center m-0 p-0">
                  <img class="img-fluid rounded rounded-circle m-0 border border-5 " loading="lazy" src="/images/log.jpg" style="width: 60px; height: 60px;" alt="Luna John">
                  <figcaption class="ms-3">
                    <h4 class="mb-1 h5">Dr. Arjun Grover</h4>
                    <h5 class="fs-6 text-warning mb-0">
                      ***** Star <br />
                      5’0 out of 5 star The Power of Q- A-Creation Compiled by
                      Mr. Dinesh Sahay Reviewed in India 🇮🇳 on 30 November 2021
                    </h5>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body p-4 p-xxl-5">
                <div
                  class="bsb-ratings  mb-3"
                  data-bsb-star="4"
                  data-bsb-star-off="1"
                ></div>
                <blockquote class="bsb-blockquote-icon mb-3 fw-semibold">
                  The book was in good condition when it arrived. Rather than
                  that it's an awesome book talking about universal laws. This
                  book had a lot to learn. I will surely implement them in my
                  life. The book shows the process like how to do along with
                  what to do which according to me is the best part. The book
                  was small yet I will recommend you to read it slowly to grasp
                  each and every learning in this. This is an inspirational book
                  that had inspired me to go for my dreams. Nice one.
                </blockquote>
                <figure class="d-flex align-items-center m-0 p-0">
                  <img class="img-fluid rounded rounded-circle m-0 border border-5 " loading="lazy" src="/images/log.jpg" style="width: 60px; height: 60px;" alt="Luna John">
                  <figcaption class="ms-3">
                    <h4 class="mb-1 h5">AMRITA MISHRA</h4>
                    <h5 class="fs-6 text-warning mb-0">
                      **** Star <br />
                      4.0 out of 5 stars Recommended. <br />
                      Reviewed in India 🇮🇳 on 12 September 2020 <br />
                      Verified Purchase
                    </h5>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body p-4 p-xxl-5">
                <div
                  class="bsb-ratings mb-3"
                  data-bsb-star="3"
                  data-bsb-star-off="2"
                ></div>
                <blockquote class="bsb-blockquote-icon mb-3 fw-semibold">
                  This book is like a guide to find all the solutions faced by
                  people in their life. It shows you how you can channel the
                  universe and ask anything from it... and universe will make
                  sure that you have it. Our life is just what we think it to
                  be. It's our thoughts that creates our future. This book says
                  that to have a life that you wish for... you should think
                  about what you want to have.... and absolutely believe that it
                  is yours... and you shall have it...
                </blockquote>
                <figure class="d-flex align-items-center m-0 p-0">
                  <img class="img-fluid rounded rounded-circle m-0 border border-5 " loading="lazy" src="/images/log.jpg" style="width: 60px; height: 60px;" alt="Luna John">
                  <figcaption class="ms-3">
                    <h4 class="mb-1 h5">Khushi</h4>
                    <h5 class="fs-6 text-warning mb-0">
                      ***** Star <br />
                      5.0 out of 5 stars Create Your Own Life <br />
                      Reviewed in India 🇮🇳 on 28 August 2020 <br />
                      Verified Purchase <br />
                    </h5>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="card">
              <div class="card-body p-4 p-xxl-5">
                <div
                  class="bsb-ratings text-warning mb-3"
                  data-bsb-star="3"
                  data-bsb-star-off="2"
                ></div>
                <blockquote class="bsb-blockquote-icon mb-3 fw-semibold">
                  The book caught my attention right from the cover and the
                  title, as I expected, it is a self-help book that will surely
                  guide us to order, arrange and view our life to be more
                  productive and happier. It gives guidelines for the reader to
                  see life differently and that's what makes the life different.
                  Rather than complaining the burdens of lives, one must learn
                  to plan and execute the goals that would leads us to better
                  achievements. A good simple read that everyone should give a
                  try.
                </blockquote>
                <figure class="d-flex align-items-center m-0 p-0">
                  <img class="img-fluid rounded rounded-circle m-0 border border-5 " loading="lazy" src="/images/log.jpg" style="width: 60px; height: 60px;" alt="Luna John">
                  <figcaption class="ms-3">
                    <h4 class="mb-1 h5">Kavi Krish</h4>
                    <h5 class="fs-6 text-warning mb-0">
                      **** Star <br />
                      4.0 out of 5 stars Short and simple, yet a book to be
                      treasured. <br />
                      Reviewed in India 🇮🇳 on 28 August 2020 <br />
                      Verified Purchase
                    </h5>
                  </figcaption>
                </figure>
              </div>
            </div>
          </div>

          <%newreview.forEach(function(newreview){%>
            <div class="col-12 col-lg-6">
              <div class="card">
                <div class="card-body p-4 p-xxl-5">
                  <div
                    class="bsb-ratings text-warning mb-3"
                    data-bsb-star="3"
                    data-bsb-star-off="2"
                  ></div>
                  <blockquote class="bsb-blockquote-icon mb-3 fw-semibold">
                    <%=newreview.description%>
                  </blockquote>
                  <figure class="d-flex align-items-center m-0 p-0">
                    <img class="img-fluid rounded rounded-circle m-0 border border-5 " loading="lazy" src="/images/log.jpg" style="width: 60px; height: 60px;" alt="Luna John">
                    <figcaption class="ms-3">
                      <h4 class="mb-1 h5"><%=newreview.username%></h4>
                      <h5 class="fs-6 text-warning mb-0">
                        <%=newreview.shortdis%>
                      </h5>
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          <%})%>
          


        </div>
      </div>
    </section>
<%- include('footer'); -%>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
